body {
    font-family: 'Open sans';
    background-color: #333;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    color: rgb(245, 245, 20);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 120px); 
    grid-template-rows: repeat(3, 120px);
    background-color: transparent;
    border: none;
}

.cell {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    background-color: #333; /* Etwas hellerer Zellenhintergrund */
    border: 3px solid white;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
}

.cell:hover {
    background: #90898942;
}

.board > :nth-child(-n+3) { 
    border-top: none;
}

.board > :nth-child(3n+1) { 
    border-left: none;
}

.board > :nth-child(3n) { 
    border-right: none;
}

.board > :nth-last-child(-n+3) { 
    border-bottom: none;
}